# dependencies
node_modules/

# production build
dist/
dist-ssr/

# env files (DO NOT COMMIT)
.env
.env.local
.env.development
.env.production
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/
*.swp

# misc
coverage/
